/* put your own styles to customize and override the theme */
.imgwrapper {
    width: 80%;
 }

 .ja:focus, .ja:hover{
    color: #ff6400
 }
h1{
    font-family: 'Source Sans Pro', sans-serif;
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
}
h6{
    font-family: 'PT Sans', sans-serif;
}

h5{
    font-family: 'PT Sans', sans-serif;
}
h4{
    font-family: 'Source Sans Pro', sans-serif;
}
.text-muted{
    font-family: 'PT Sans', sans-serif;
}
.story{
    font-family: 'PT Sans', sans-serif;
}
.random{
    font-family: 'PT Sans', sans-serif;
}

.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.steps .active+li:before,.active+li::after, .steps .active a {
    background-color: #ff6400;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #ff6400;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #ff6400;
}
.progressbar li.active:before {
    border-color: #ff6400;
}
.progressbar li.active + li:after {
    background-color: #ff6400;
}
.btn-xl {
    border: #ff6400;
    
    color: #ffff;
    background-color: #ff6400;
    height: 80%;
    font-size: 20px;
    border-radius: 10px;
    width:40%;
}

.btn-xl:hover{
    
    color: #ffff;
    background-color: #94BA2C;
}